body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#titleColumn {
    text-align: center; 
    font-size: 24px; 
    font-weight: bold; 
    font-family: 'Noto Serif Thai', serif;
}
.btn-primary {
    background-color: #6e4f2eff !important; 
    border-color: #6e4f2eff !important; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #47341F !important; 
    border-color: #47341F !important;
	outline: 0px solid #6e4f2eff !important;
}
.btn-primary:active {
    background-color: #47341F !important; 
    border-color: #47341F !important;
	outline: 4px solid #6e4f2eff !important;
}

.learnContainer{
	font-family: 'Noto Serif Thai', serif;
}
.coffee-type {
    text-align: center;
    margin-bottom: 20px;
}
.coffee-type img {
    width: 100%;
    height: auto;
}
h2 { 
    text-align: center;
    margin-top: 20px;
}
.container {
    padding: 20px;
}
.coffee-type a {
    display: block;
    color: inherit; 
    text-decoration: none; 
}
.img-large {
    width: 100%;
    height: auto;
}
.img-small {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.learnSideImage{
	margin-top: 20px;
}
.learnTitle{
	margin-bottom: 10px;
	font-size: 28px;
}
.learnTextPlain{
	font-size: 16px;
	margin-bottom: 10px;
}
.clickable-area {
    cursor: pointer;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-color: #612524;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;

}
button:hover{
    background-color: #4A1E1D;
}

body {
    background-color: #f2f0eb; /* Light cream background */
    min-height: 100vh;
    margin-top: 106px; /* Increased to accommodate fixed navbar height */
    padding-top: 10px; /* Extra padding to ensure separation */
}
nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6e4f2eff !important; /* Dark brown background */
    z-index: 1000;
    height: 96px; /* Specific height for navbar */
}
.navbar-nav {
    margin-left: 20px;
}
.navbar-nav .nav-link, .navbar-brand {
    color: #f2f0eb;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Comfortaa', sans-serif; /* Comfortaa font for navbar links */
}
h1, h2, h3 {
    font-family: 'Noto Serif Thai', serif; /* Noto Serif Thai for headings */
}
span, a, p, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif; /* Comfortaa for other text elements */
}
.container.main {
    background-color: #f2f0eb;
    padding: 10px 40px;
}
@media screen and (max-width: 768px) {
    .container.main {
        padding: 40px 20px;
    }
    body {
        margin-top: 96px; /* Adjust top margin on smaller screens */
    }
}
