<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Latte</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>Latte</h2>
                <img class="img-large" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Large Image">
            </div>
            <div class="col-md-2">
                <button onclick="location.href='#'">Quiz</button>
                <a href="/cappuccino"><img class="img-small" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Cappuccino"></a>
                <a href="/macchiato"><img class="img-small" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Macchiato"></a>
                <a href="/iced_coffee"><img class="img-small" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Iced Coffee"></a>
                <a href="/latte"><img class="img-small" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Latte"></a>
                <a href="/espresso"><img class="img-small" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Espresso"></a>
                <a href="/americano"><img class="img-small" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Americano"></a>
            </div>
        </div>
    </div>
</body>
</html>
