<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&family=Noto+Serif+Thai:wght@400&display=swap" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- General Styles -->
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Page-Specific Styles -->
    {% block head %}
    {% endblock %}

    <title>UI Design Final</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: #f2f0eb;" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f2f0eb;" href="/learn/1">Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #f2f0eb;" href="/start_quiz">Quiz</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container main">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}

<!-- Bootstrap and jQuery Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>
