<!DOCTYPE html>
{% extends "layout.html" %} {% block content %} 
<div class = "row p-1 m-1 ">
		<div class = "col-12 m-1 align-items-center" id = "titleColumn">

	</div>
	
	<div class = "col-3  align-items-center" id = "leftColumn">

	</div>
	<div class = "col-6    align-items-center" id = "centerColumn">

	</div>
	
	<div class = "col-3   align-items-center" id = "rightColumn">

	</div>
	<div class = "col-12   d-flex justify-content-between" id = "buttonColumn">

	</div>


</div>
{% endblock %} 
{% block scripts %}
<script type="text/javascript">
    var data = {{data  | tojson }};
</script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/learn.js') }}"></script>
{% endblock %} 