{% extends "layout.html" %}

{% block content %}
<div class="quiz-intro text-center">
    <h1>Welcome to the Quiz!</h1>
    <p class="lead">Test your knowledge with a quick quiz. Click the button below to begin!</p>
    <button id="startQuiz" class="btn btn-primary">Begin the Quiz</button>
</div>
<div id="quizContainer" class="mt-4" style="display:none;">
    <!-- Quiz questions will be dynamically inserted here by quiz.js -->
</div>
<div id="quizResults" class="mt-4" style="display:none;">
    <!-- Quiz results will be shown here by quiz.js -->
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}


