<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Select Coffee Type</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Select</h2>
        <div class="row">
            <div class="col">
                <div class="coffee-type">
                    <a href="/americano">
                        <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Coffee Type">
                        <p>Americano</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="coffee-type">
                    <a href="/espresso">
                        <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Coffee Type">
                        <p>Espresso</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="coffee-type">
                    <a href="/latte">
                        <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Coffee Type">
                        <p>Latte</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="coffee-type">
                    <a href="/cappuccino">
                        <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Coffee Type">
                        <p>Cappuccino</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="coffee-type">
                    <a href="/iced_coffee">
                        <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Coffee Type">
                        <p>Iced Coffee</p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="coffee-type">
                    <a href="/macchiato">
                        <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="Coffee Type">
                        <p>Macchiato</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
